html
  head
    link(href="/public/main.css", rel="stylesheet", nonce=nonce)
    title Secure Frame
  body
    h1.d-none Secure Frame
    input(id="secure-input", data-nonce=request_nonce, data-origin=request_origin, value=input_value)
    script(src="/public/main.js", nonce=nonce)

